* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 1080px;
  height: 1080px;
  width: 100%;
  background-image: url(../images/commands_Backround.png);
  background-position: auto;
  background-size: cover;
  padding: 3%;
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.navbar {
  position: relative;
  margin-top: 50px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo {
  width: 100px;
  height: 100px;
  cursor: pointer;
}
nav {
  flex: 1;
  padding-left: 60px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0px 20px;
}

nav ul li a {
  text-decoration: none;
  color: #ffff;
}
.commands {
  color: #b8b8b8;
}
.Support {
  color: #ffff;
}
.commands:hover {
  color: #ffff;
  animation: ease-in-out;
}
.Support:hover {
  color: #ffff;
}
.supportp1 {
  font-size: 200%;
  width: 40%;
  color: rgb(179, 177, 177);
  position: absolute;
  top: 300px;
  left: 560px;
  text-align: center;
}
.supportbutton {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
  height: 7%;
  position: absolute;
  top: 500px;
  bottom: 15px;
  left: 845px;
  padding: 0%;
  border-radius: 100px;
  text-align: center;
  line-height: 65px;
  font-style: normal;
}
.supporth1 {
  font-size: 200%;
  width: 40%;
  color: #ffff;
  position: absolute;
  top: 250px;
  left: 560px;
  text-align: center;
}
.supportbutton:hover {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  width: 10%;
  height: 7%;
  position: absolute;
  top: 495px;
  bottom: 15px;
  left: 845px;
  padding: 0%;
  border-radius: 100px;
  text-align: center;
  line-height: 65px;
  font-style: normal;
}
.invite {
  width: 9%;
  height: 6%;
  position: absolute;
  top: 25px;
  bottom: 15px;
  left: 1600px;
  padding: 0%;
}
.invite:hover {
  content: url(../images/discord_invite_button_unselected.png);
  width: 10%;
  height: 7%;
  position: absolute;
  top: 20px;
  bottom: 10px;
  left: 1590px;
}
